header{
    text-align: right;
}

.botaoInicial {
    width: 30px;
    height: 30px;
}

#botaoHome{
    width: 36px;
    height: 36px;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
}

#busca{
    height: 50px;
    writing-mode: vertical-lr;
}

.form{
    float: right;
}

#botaoCadastro{
    width: 36px;
    height: 36px;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
}

.cadastro{
    vertical-align: middle;
}